.todo{
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.todo-header{
    margin-top: 84px;
    color: #002765;
    font-size: 36px;
    font-weight: 600px;
    line-height: 34px;
}

.todo-add {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input {
    flex: 1;
    height: 40px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    outline: none;
}

.todo-priority-select {
    min-width: 100px;
    height: 40px;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.todo-add-btn {
    height: 40px;
    min-width: 80px;
    border-radius: 25px;
    background: #ff6b6b;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

todo-add-btn:hover {
    background: #ff5252;
}